VITE_API_BASE_URL=http://localhost:5000/api
VITE_UPLOADS_BASE_URL=http://localhost:5000/uploads
VITE_FIREBASE_API_KEY=AIzaSyCs0C_lwgaK_Jy-W7HZZKhD0otypQ7NkRE
VITE_FIREBASE_AUTH_DOMAIN=podvibe-aee36.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=podvibe-aee36
VITE_FIREBASE_STORAGE_BUCKET=podvibe-aee36.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1040912918445
VITE_FIREBASE_APP_ID=1:1040912918445:web:28e0a58bcd851889cce324
VITE_FIREBASE_MEASUREMENT_ID=G-90998GQ0NM 